!!!
%html
  %head
    %title COLROW
    %link{:href => "/stylesheets/colrow.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/reset.css", :rel => "stylesheet"}/
  %body
    %section.container
      %aside
        %section.col.col1 1
        %section.col.col2 2
        %section.col.col3 3
      %main
        %section.row.one 1
        %section.row.two 2
        %section.row.one 3
        %section.row.two 4
        %section.row.one 5
        %section.row.two 6