!!!
%html
  %head
    %title A NEW APP
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/reset.css", :rel => "stylesheet"}/
  %body
    %header
      %section.one
        %h3 Hello
      %section.two
        %h4 Hi
