!!!
%html
	%head
		%title Janban Board
		%link{:href => "/stylesheets/janban.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Special+Elite", :rel => "stylesheet", :type => "text/css"}/
		%body
			%section#progress
				%h1 Progress Report.
			%section.board
				%section.phase
					%h1 Pending
					%section.kanbans
						%article.todo
							%header
								%h1
									Pickles
									%time 14/05/14
							%p Eat em!
				%section.phase
					%h1 Doing
					%section.kanbans
				%section.phase
					%h1 Done
					%section.kanbans
				%section.phase#addtask
					%h1 Add a task
					%section.kanbans
						%form
							%input{name: 'title', placeholder: 'Add a title'}
							%textarea{name: 'description', placeholder: "Add a description"}
							%input{name: 'dueDate', placeholder: 'Due date (dd/mm/yyyy)'}
							%input#addtodo{:type => "button", :value => "Add Task", :name => "submit"}/
						%input#clear-data{:type => "button", :value => "Clear data", :name => "clear"}
						%section.delete
							Drag here to delete
