!!!
%html
	%head
		%title Janban Board
		%link{:href => "/stylesheets/janban.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Special+Elite", :rel => "stylesheet", :type => "text/css"}/
		%body
			%main Progress Report.
			%section.board
				%section.phase
					%h2 Pending
					%section.kanbans
						%section.todo
							%section.name Pickles
							%section.description Eat em!
							%section.duedate 14/05/14
						%section.todo
							%section.name Pickles
							%section.description Eat em!
							%section.duedate 14/05/14
				%section.phase
					%h2 Doing
					%section.kanbans
						%section.todo Pickles
						%section.todo Pickles
						%section.todo Pickles
				%section.phase
					%h2 Done
					%section.kanbans
						%section.todo Pickles
						%section.todo Pickles
						%section.todo Pickles
