!!!
%html
	%head
		%title Janban Board
		%link{:href => "/stylesheets/janban.css", :rel => "stylesheet"}/
		%link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
		%body
			%header
				%h1 Progress Report.
			%section.board
				Board
				%section.phase
					%h2 Pending
					%section.kanbans
						%section.todo Pickles
						%section.todo Pickles
						%section.todo Pickles
				%section.phase
					%h2 Doing
					%section.kanbans
						%section.todo Pickles
						%section.todo Pickles
						%section.todo Pickles
				%section.phase
					%h2 Done
					%section.kanbans
						%section.todo Pickles
						%section.todo Pickles
						%section.todo Pickles
