!!!
%html
  %head
    %title A NEW APP
    %link{:href => "/stylesheets/nav.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/reset.css", :rel => "stylesheet"}/
  %body
    %header
      %ul.navigation
        %li
          %a{:href =>'#'} Home
        %li
          %a{:href =>'#'} About
        %li
          %a{:href =>'#'} Products
        %li
          %a{:href =>'#'} Contact


