!!!
%html
  %head
    %title Tweet
    %link{:href => "/stylesheets/twitter.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/reset.css", :rel => "stylesheet"}/
  %body
    %nav NAV
    %section.container
      %main MAIN
      %aside ASIDE