!!!
%html
  %head
    %title A NEW APP
    %link{:href => "/stylesheets/wrap.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/reset.css", :rel => "stylesheet"}/
  %body
    %header
      %ul.flex-container
        %li.flex-item 1
        %li.flex-item 2
        %li.flex-item 3
        %li.flex-item 4
        %li.flex-item 5
        %li.flex-item 6

